@import "resets.css";

:root {
  --clr-white: hsl(0 0 100);
  --clr-black: hsl(0 0 0);

  --clr-grey-500: hsl(0 0 44);
  --clr-grey-200: hsl(0 0 86);
  --clr-grey-100: hsl(0 0 94);

  --clr-red-400: hsl(0 100 67);
  --clr-purple-500: hsl(259 100 65);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-grey-100);
  color: var(--clr-black);
}

output {
  font-size: clamp(3.5rem, -1.5rem + 16.667vw, 6.5rem);
  font-style: italic;
  font-weight: 800;
}

input {
  font-size: clamp(1.25rem, 0rem + 4.167vw, 2rem);
  font-weight: 700;
}

label,
.error-msg {
  font-size: clamp(0.75rem, 0.542rem + 0.694vw, 0.875rem);
}

label {
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.error-msg {
  font-style: italic;
}

/* layout */

.page-layout {
  --content-max-width: 52.5rem;
  --minimum-content-padding: clamp(1rem, -1.5rem + 8.333vw, 2.5rem);

  --content: min(
    var(--content-max-width),
    100% - var(--minimum-content-padding) * 2
  );

  display: grid;
  grid-template-columns:
    minmax(var(--minimum-content-padding), 1fr)
    [content-start]
    var(--content)
    [content-end]
    minmax(var(--minimum-content-padding), 1fr);
}

main {
  container-type: inline-size;

  background-color: var(--clr-white);
  grid-column: content;
  align-self: center;
  padding-inline: clamp(1.5rem, -1.833rem + 11.111vw, 3.5rem);
  padding-block: clamp(3rem, 2.167rem + 2.778vw, 3.5rem);
  border-radius: 1.5rem;
  border-bottom-right-radius: clamp(6.25rem, -4.167rem + 34.722vw, 12.5rem);
}

.input-mask {
  display: flex;
  gap: clamp(1rem, -0.667rem + 5.556vw, 2rem);
}

input {
  width: 100%;
}

/* components */

.input-mask {
  @container (width > 45.45rem) {
    max-width: 34rem;
    margin-inline-end: auto;
  }
}

input {
  border: 1px solid var(--clr-grey-200);
  padding-block: 0.5rem;
  padding-inline-start: 1rem;
  border-radius: 0.5rem;
}

label {
  margin-block-end: 0.5rem;
  color: var(--clr-grey-500);
}

button {
  background-color: var(--clr-purple-500);
  border-radius: 100vw;
  border: none;
  display: inline-flex;
  padding: clamp(1.25rem, 0.833rem + 1.389vw, 1.5rem);
  cursor: pointer;
  z-index: 1;
}

svg {
  width: clamp(1.5rem, -0.583rem + 6.944vw, 2.75rem);
  height: clamp(1.5rem, -0.583rem + 6.944vw, 2.75rem);
}

hr {
  border-color: transparent;
  border-top-color: var(--clr-grey-200);
  width: 100%;
  position: absolute;
  margin-block: clamp(2rem, 0.542rem + 4.861vw, 2.875rem);
}

.button-divider {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-block: 2rem;

  @container (width > 45.45rem) {
    margin: 0;

    button {
      align-self: flex-end;
    }
  }
}

output {
  display: flex;
  gap: 0.5rem;

  span {
    color: var(--clr-purple-500);
  }
}
